<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.link.activity"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="preferExternal" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="25" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoadActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.link.activity.DownListActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="cn.link.activity.SettingActivity" >
        </activity>
        <activity android:name="cn.link.activity.PushActivity"
                  android:launchMode="standard">
        </activity>
        <activity android:name="cn.link.activity.FileListActivity"
                  android:launchMode="standard">
        </activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 允许应用程序改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 允许应用程序改变WIFI连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 允许应用程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
</manifest>